@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cinzel', serif;
}

:root{
    --links: #090C02;
    --headerbg: #489FB5;
    --headingbg: #EDE7E3;
    --headingtext: #000000;
    --cardsbg: #fff;
}

body{
    width: 100%;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: var(--links);
}

.header{
    background:var(--headerbg);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.header-container{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
    justify-items: center;
    align-items: center;
    
}

.heading-container{
    max-width: 1440px;
    min-height: 700px;
    margin: 0 auto;
    background-image: url("output_2303319817_0.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.heading-text{
    text-align: center;
    color: var(--headingtext)
}

.heading{
    background: var(--headingbg);
    font-size: 30px;
}


.list{
    background: var(--headingbg);
    padding: 10px 0;
}
.cards-container{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(300px, 1fr);
    row-gap: 10px;
}
.card{
    background: var(--cardsbg);
    width: 220px;

}

.card img{
    width: 100%;
    height: 90%;
}

.card p{
    position: relative;
    text-align: center;
}

.footer{
    background: var(--headingtext);
}

.footer-container{
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    color: var(--cardsbg);
    text-align: center;
}

@media screen and (max-width: 1000px){
    .cards-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 660px){
    .cards-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 440px){
    .cards-container{
        grid-template-columns: 100%;
    }

    .card{
        width: 250px;
    }
}
